body{
    margin: 0;
    background-color: rgb(224, 224, 224);
    font-family: SF Pro Display;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 70px;
    background-color: white;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 70px;
    margin-left: 30px;
}

nav a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 16px;
}

nav a:hover{
    color: white;
    background-color: rgb(233, 13, 13);
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    font-weight: 700;
}

.inicio{
    color: red;
    font-weight: 900;
}

.titulo{
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-size: 35px;
}
.container{
    display: flex;
    margin: 0 100px 0 150px;
}
.container p{
    column-gap: 60px;
    background-color: rgb(71, 71, 71);
    border-radius: 20px;
    color: white;
    padding: 30px;

}
