body{
    font-family: SF Pro Display;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: 	#000000;
    align-items: center;
    padding: 10px;
}
p{
    margin: 0;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 25px;
    margin-right: 10px;
}

.nombre-empresa{
    color: white;
    font-size: 30px;
}

a{
    text-decoration: none;
}

nav a{
    color: white;
    padding: 10px;
    transition: all 0.8s ease;
}

nav a:hover{
    color: white;
    padding: 15px 20px 15px 20px;
    background-color: blueviolet;
    border-radius: 20px;
    font-weight: 600;
    font-size: 17px;
}

.presentacion{
    text-align: center;
    justify-content: center;
}

.presentacion h2{
font-size: 60px;
}

.presentacion img{
    width: 900px;
}
